body {
    background-color: rgb(94, 181, 189);
    color: rgb(119, 84, 1);
    margin: 0;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; width: 60%; margin: auto; text-align: center;
}
@font-face {
    font-family: "Avara Bold";
    src: url("fonts/avara-bold.otf");
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: "Avara Bold", serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.flex-item img {
  width: 300px;
  height: auto;
  border-radius: 8px; 
}

a {
  color: rgb(119, 84, 1);
  text-decoration: none; /* optional */
}

a:hover {
  color: rgb(1, 11, 34); /* darker on hover for visibility */
}

a:visited {
  color: rgb(1, 11, 34); /* slightly different visited color */
}
